@font-face {
    font-family: font;
    src: url(./Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: font2;
    src: url(./GeneralSans-Variable.ttf);
}

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
   
}

.container{
    min-height: 100vh;
    width: 100%;
}


.page1{
    position: relative;
    height: 100vh;
    width: 100%;
}

.navbar-left{
    height: 90px;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid rgb(249, 245, 245);
    
    
}

.navbar-left h2{
    position: relative;
    left: 5%;
    top: 18%;
    font-family: font;
    font-weight: 500;
    font-size: 25px;
    
    
}

.navbar-left p{
    position: relative;
    left: 5%;
    top: 18%;
    font-size: 15px;
    border: 2px solid rgb(250, 246, 246);
    border-radius:15px ;
    padding: 4px;
    background-color: rgb(246, 214, 199);
}

.navbar-left i{
    position: relative;
    left: 6%;
    top: 18%;
    font-size: 30px;
}

.navbar-right{
    height: 90px;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 18px;
}

.navbar-right a{
    position: relative;
    left: 50%;
    top: 18%;
    font-family: font;
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar-right button{
    position: relative;
    left: 50%;
    top: 18%;
    font-family: font;
    font-size: 13px;
    padding: 12px;
    font-weight: 600;
    border-radius: 30px;
    background-color: rgb(248, 249, 250);
}

.Tag-line{
    position: absolute;
    top: 38%;
    left:5%;
    font-family: font2;
    font-weight: 500;
    
    font-size: 90px;
}

.para{
    position: absolute;
    top: 70%;
    left:5.5%;
    font-family: font2;
    font-weight: 500;
    font-size: 20px;
}

.para1{
    position: absolute;
    top: 75%;
    left:5.5%;
    font-family: font2;
    font-weight: 500;
    font-size: 20px;
}

.service{
    position: absolute;
    top: 82%;
    left:5%;
    font-family: font2;
    font-size: 15px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 40px;
}


.page2{
   height: 100vh;
   width: 100%;
   background-color: rgb(255, 255, 255);
   padding-top: 100px;
}

.cards{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    left: 5%;
    top: 120%;
    
    
    
}

.cards h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    margin-bottom:25px;
    font-size: 27px;
     white-space: nowrap;
    
    
}

.cards p{
    line-height: 1.7;
    font-size: 17px;
    color: rgb(88, 89, 89);
}

.cards h4{
    font-weight: 300;
    text-decoration: underline;
    
}

.card1{
  
    width: 300px;
    height: 350px;
    background-color: rgb(244, 244, 244);
    padding: 60px;
}

.card2{
    width: 300px;
    height: 350px;
    background-color: rgb(244, 244, 244);
    padding: 60px;
}

.card3{
    width: 300px;
    height: 350px;
    background-color: rgb(244, 244, 244);
    padding: 60px;
}

.card4{
    width: 300px;
    height: 350px;
    background-color: rgb(244, 244, 244);
    padding: 60px;
}

    

.work h4{
   position: absolute;
   top: 180%;
   left: 6%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 200;

}

.line{
    position: absolute;
   height: 1px;
   width: 100%;
   top: 185%;
   background-color: rgb(169, 167, 167);
   
}

.animated{
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: px 0;
    top: 108%;
    
    

}

.logo-track{

    display: flex;
    align-items: center;
    gap: 80px;
    width: max-content;
    animation: animate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo-track img{
    height: 35px;
    object-fit: contain;
    

    
}

@keyframes animate {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }

   
}

.page3{
   position: absolute;
   height: 100vh;
   width: 100%;
   
}


.page3 h1{
    height: 100px;
    width: 100%;
    position: relative;
    left: 5.5%;
    font-size: 40px;
    font-weight: 300;
    top: -5%;


}

.page3 button{
    position: relative;
    height: 50px;
    width: 100px;
    left: 85%;
    border-radius: 30px;
    background-color:white ;
    border: 2px solid black;
    top: -18%;
}

.page3 button:hover{
    background-color: black;
    color: white;
   
}

.img-card{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    left: 7%;
    top: -10%;
   

}

.img1 img{
    
    height: 500px;
    width: 650px;

}

.text1, .text2{
    display: flex;
    justify-content: space-between;


}

.img1 h4,
.img2 h4
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size:20px ;
}

.img1 p{
    
    height: 30px;
    width: 80px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50px;

}

.img2 p{
    height: 30px;
    width: 80px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50px;
}

.img1 p:hover{
    background-color: black;
    color: white;
    transition: 0.5s;

}

.img2 p:hover{
    background-color: black;
    color: white;
    transition: 0.5s;

}

.img2 img{

    height: 500px;
    width: 650px;
}

.img1,
.img2{
    overflow: hidden;
    
}

.img1 img,
.img2 img{
    transition: transform 0.4s ease;
    cursor: pointer;
}


.img1 img:hover,
.img2 img:hover{
    transform: scale(1.08);
}




